# Site wide configuration

title: Victorian Carol Singers Hire
locale: en_UK
description: London's Premier Victorian Carollers are the best and most experienced in the business.  We have been performing as Victorian Carol Singers for over a decade in London and throughout the UK.
tags: Victorian, Carol, Singers, Christmas, Festive, Party, Event, Carollers, London, Hire
logo: #site-logo.png
search: true
url: http://victoriancarolsingershire.uk
#url: https://hartleyvoices.github.io/victoriancarolsingershireuk
#url: http://127.0.0.1:4000

# Jekyll configuration

permalink:   /:categories/:title/
markdown:    kramdown
highlighter: pygments
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..2
  use_coderay: false

mathjax: true

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md", "vendor"]


# Site owner
owner:
  name: Victorian Carollers
  avatar: bio-photo.jpg
  email: info@victoriancarolsingershire.uk
  key: 4e5731fdbfb284935798479a2c00abd5
  subject: Victoran Carol Singers Enquiry
  disqus-shortname:
  twitter: #username
  facebook: #username
  github: #username
  stackexchange: #http://stackoverflow.com/users/123456/username
  linkedin: #username
  instagram: #username
  flickr: #username
  tumblr: #username
  pinterest: #username
  weibo: #userid
  google:
    plus: #username
    analytics:
    verify:
    ad-client:
    ad-slot:
  bing-verify:

prose:
  #rooturl: '_posts'
  siteurl: 'http://victoriancarolsingershire.uk'
  #relativeLinks: 'http://prose.github.io/starter/links.jsonp'
  media: 'images'
  ignore:
    - _config.yml
    - /_layouts
    - /_includes
