/*
Theme Name: Victorian Carol Singers Hire UK
Theme URI: http://www.example.com/twentysixteen-child
Version: 1
Template: twentysixteen
Author:  Hywel Llewellyn
Author URI: http://www.hywel.me
Description: Child Theme of TwentySixteen Theme
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: twenty-sixteen-child
*/

.site-footer .site-title:after {
	content: "";
	display: inline-block;
	font-family: Montserrat, sans-serif;
	opacity: 0.7;
	padding: 0 0.307692308em 0 0.538461538em;
}

.button-title {
background:#ddd; color:#333;
    border: none;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    vertical-align: bottom;
    float: right;
    margin-right: 8%;
}
.button-title:hover{
background:#e77776; color:#ddd;
    border: none;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    vertical-align: bottom;
    float: right;
    margin-right: 8%;
}
